<footer class="bg-slate-50 dark:bg-slate-950 tonal-transition">
    <div class="flex flex-col md:flex-row justify-between items-center px-12 py-16 w-full max-w-screen-2xl mx-auto gap-8">
        <div class="flex flex-col gap-4">
            <div class="font-['Manrope'] font-bold text-slate-900 dark:text-white text-2xl">GoVehiculos</div>
            <p class="font-['Inter'] text-sm leading-relaxed text-slate-500 dark:text-slate-400 max-w-xs">
                © 2026 GoVehiculos.
            </p>
        </div>
    </div>
</footer>