{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoVehiculos - Sistema de Reservas</title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    {% include 'componentes/navbar.html' %}


    <div class="contenedor-principal">
        <main class="contenido-dinamico">
            {% block contenido %}
            {% endblock %}
        </main>
    </div>

    {% include 'componentes/footer.html' %}

</body>
</html>